{% extends "tracker/base.html" %}
{% block content %}
    <article class="content-section">
    	<h1>About The Website</h1><hr>
    	<strong>
    		<p>This website - <u>Django Price Tracker</u> helps users by notifying them by Email(Given by them at the time of Registration) of the fall in price of a product that they have registered for tracking.</p>
    		<p>
    			This happens by 3 Simple steps:
    			<ul>
    			<li>Users have to Register on to our site.</li><br>
    			<li>Then they have to mention the url of product that they are planning to buy for a lower price than it is quoted on the Ecommerce Site at that point of time and also the desired priced that they are willing to buy that product for.</li><br>
    			<li>Then at background we check the prices of the products that users have kept for tracking at regular intervals of time and notify the users once the price of the product drops below or equals the desired price of the product
    			mentioned by user.</li><br>
    			</ul>
    		</p> 
    	</strong>
    </article>
{% endblock content %}